@charset "UTF-8";
body{
	color:#272727;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:14pt;
	background:linear-gradient(45deg, hsla(170,100%,71%,1) 0%, hsla(208,100%,77%,1) 100%);
}
#container{
	width:80%;
	height:1680px;
	background-color:white;
	margin:auto;
}
header{
	width:100%;
	height: 377px;
	background-image:url("header.png");
	background-repeat:no-repeat;
	background-position: center;
}
aside{
	width:20%;
	height:1100px;
	float:left;
	background-color:#D6D6D6;
	padding-left: 5px;
}
main{
	
	float:left;
	width:70%;
	margin:5px;
}
footer{
	margin:0;
	padding:0;
	width:400px;
	background-color: #f1f1f1;
	clear:both;
	height:200px;
}
footer li{
	list-style-type:none;
	display:block;
	padding:5px;
	font-size:20px;
}
footer li a:link{
	text-decoration: none;
	color:#639CF6
}
footer li a:hover{
	background:linear-gradient(135deg, hsla(170,100%,71%,1) 0%, hsla(208,100%,77%,1) 100%);
	color:#171717;
	border-radius:10px;
	padding:10px;
}
