@charset "UTF-8";
body{
	color:#272727;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:14pt;
	background:linear-gradient(45deg, hsla(170,100%,71%,1) 0%, hsla(208,100%,77%,1) 100%);
	background-repeat: no-repeat;
    background-size: cover;
}
#container{
	width:1300px;
	height:auto;
	background-color:white;
	margin:auto;
}
header{
	width:1300px;
	height:250px;
	background-image:url("header.png");
	background-repeat:no-repeat;
	background-position: center;
}
aside{
	width:200px;
	height:1660px;
	float:left;
	background-color:#D6D6D6;
	padding-left: 5px;
	padding-top: 65px
}
main{
	float:left;
	width:1075px;
	height:1650px;
	margin:10px;
	padding-top: 50px;
}
footer{
	margin:0px;
	padding:0px;
	width:1300px;
	background-color: #f1f1f1;
	clear:both;
	height:auto;
}
h1{
	margin-top:50px;
	font-size: 28pt;
}
h4, .column p{
	font-size: 20pt;
}
main p{
	font-size: 24pt;
}
main li{
	font-size: 20pt;
}
aside p{
	font-size: 18pt;
}
footer li{
	list-style-type:none;
	display:block;
	padding:5px;
	font-size:24pt;
}
footer li a:link{
	text-decoration: none;
	color:#639CF6
}
footer li a:hover{
	background:linear-gradient(135deg, hsla(170,100%,71%,1) 0%, hsla(208,100%,77%,1) 100%);
	color:#171717;
	border-radius:10px;
	padding:10px;
}
.column{
	width: 650px;
	float:left;
	height:300px;
	background-color: #f1f1f1;
}